@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,900;1,300&display=swap');

body{
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

.container{
    display: flex;
    flex-direction: column;
}

/* Header section */
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 200px;
    background-color: #1F2937;
}

.header__menu ul{
    list-style: none;
    padding-left: 0;
    display: flex;
    gap: 16px;
}

.header__logo{
    font-size: 24px;
    color: #F9FAF8;
}

a {
    text-decoration: none;
    color: #E5E7EB;
    font-size: 18px;
}


/* End header */


/* Hero Section */
.hero{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1F2937;
    padding: 150px 200px;
}

.hero__text{
    margin-right: 70px;
}

.hero__text h2 {
    font-size: 48px;
    font-weight: 900;
    margin-bottom: 0;
    color: #F9FAF8;
}

.hero__text p{
    margin-top: 0;
    font-size: 18px;
    color: #E5E7EB;
}

#sign__btn{
    background-color: #3882F6;
    font-weight: bold;
    font-size: 18px;
    color: #E5E7EB;
    border-width: 0;
    border-radius: 8px;
    padding: 10px 25px;
}

/* End hero section */

/* Info Section */
.info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 60px 0px;
}

.info__container{
    display: flex;
    gap: 50px;
}

.info h2 {
    color: #1F2937;
    font-weight: 900;
    font-size: 36px;
}

.info__item .text{
    text-align: center;
    color: #1F2937;
}
/* End Info Section */


/* Testinomial Section */
.testimonial{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #E5E7EB;
    padding: 120px 240px;
}

.testimonial__text{
    font-style: italic;
    font-weight: lighter;
    font-size: 36px;
    color: #1F2937;
}

.testimonial__author{
    align-self: flex-end;
    font-size: 18px;
    font-weight: 900;
}

/* Modal section */
.cta{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 100px;
}

.cta__modal{
    display: flex;
    align-items: center;
    padding: 40px 200px;
    background-color: #3882F6;
    gap: 120px;
    border-radius: 5px;
}

.modal__left h4, .modal__left p {
    margin: 0;
    color: #F9FAF8;
    font-size: 18px;
}

.modal__left h4{
    margin-bottom: 5px;
    font-size: 24px;
}

.modal__right button{
    background-color: #3882F6;
    border: 2px solid white;
    border-radius: 5px;
    padding: 5px 30px;
    color: #F9FAF8;
}

/* End Modal section */